In [1]:
# Installs and Imports packages
!pip install plotly
import geopandas as gpd
import pandas as pd
import plotly.express as px
import numpy as np
from plotly.subplots import make_subplots
from IPython.display import HTML

Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (5.19.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (23.2)

# **Obtaining Data**

In [2]:
# Reads and loads in industries dataset
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/a5db53bc8f0c8ea00e136ebacd9840ba110daa13/datasets/Industries/SAGDP2N__ALL_AREAS_1997_2020.csv'
industries_data = pd.read_csv(url)
industries_data

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"""00000""",United States *,,SAGDP2N,1.0,...,All industry total,Millions of current dollars,8577552.0,9062817.0,...,15542582.0,16197007.0,16784851.0,17527258.0,18238301.0,18745075.0,19542980.0,20611861.0,21433226.0,20936558.0
1,"""00000""",United States *,,SAGDP2N,2.0,...,Private industries,Millions of current dollars,7431992.0,7871500.0,...,13405520.0,14037519.0,14572341.0,15255889.0,15898859.0,16360179.0,17094245.0,18062184.0,18793750.0,18290860.0
2,"""00000""",United States *,,SAGDP2N,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637.0,99756.0,...,180945.0,179573.0,215601.0,201003.0,182283.0,166571.0,176625.0,178569.0,175373.0,175802.0
3,"""00000""",United States *,,SAGDP2N,4.0,111-112,Farms,Millions of current dollars,88136.0,79030.0,...,152249.0,148939.0,184621.0,168147.0,147384.0,130639.0,140053.0,140271.0,136080.0,(NA)
4,"""00000""",United States *,,SAGDP2N,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501.0,20726.0,...,28696.0,30634.0,30980.0,32856.0,34899.0,35932.0,36571.0,38298.0,39293.0,(NA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,"""98000""",Far West,8,SAGDP2N,92.0,...,Private services-providing industries 3/,Millions of current dollars,985596.4,1064211.3,...,1976062.0,2075109.3,2181136.7,2313170.7,2486666.3,2618453.8,2789660.2,2954243.6,3138895.7,3104513.5
5524,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,SAGDP2N: Gross domestic product (GDP) by state 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,"Last updated: March 26, 2021-- new statistics ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Reads and loads in polarization dataset
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/3f38ff8e61c73e8d9f8e19206a5c1f63168910ed/datasets/Political_Polarization/Political%20Polarization%20in%20US%20Congress%20(Assorted).csv'
polarization_data = pd.read_csv(url)
polarization_data

,chamber,congress,year,party.mean.diff.d1,prop.moderate.d1,prop.moderate.dem.d1,prop.moderate.rep.d1,overlap,chamber.mean.d1,chamber.mean.d2,...,rep.mean.d1,rep.mean.d2,north.rep.mean.d1,north.rep.mean.d2,south.rep.mean.d1,south.rep.mean.d2,north.dem.mean.d1,north.dem.mean.d2,south.dem.mean.d1,south.dem.mean.d2
0,House,46,1879,0.785883,0.130435,0.110345,0.066667,0.0,-0.018943,-0.043084,...,0.394896,-0.128074,0.398015,-0.127235,0.257667,-0.165000,-0.343253,-0.063924,-0.448121,-0.031894
1,Senate,46,1879,0.747943,0.160494,0.000000,0.342857,0.0,-0.124568,-0.077630,...,0.295343,-0.027171,0.296303,-0.079273,0.279500,0.832500,-0.455136,-0.263591,-0.450174,0.023696
2,House,47,1881,0.782714,0.100324,0.110294,0.025157,0.0,0.026343,-0.025706,...,0.387736,-0.050755,0.391087,-0.042993,0.331889,-0.180111,-0.332643,-0.058429,-0.461091,-0.078530
3,Senate,47,1881,0.763571,0.141176,0.000000,0.244444,0.0,-0.030047,-0.080929,...,0.314756,-0.113044,0.316341,-0.132182,0.245000,0.729000,-0.455118,-0.199059,-0.443714,0.065667
4,House,48,1883,0.724404,0.216374,0.275862,0.096000,0.0,-0.066354,-0.029848,...,0.377488,0.001824,0.384009,0.009155,0.293444,-0.092667,-0.281450,-0.008705,-0.461041,-0.129784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Senate,115,2017,0.826032,0.171429,0.312500,0.036364,0.0,0.096114,-0.069962,...,0.489636,-0.030291,0.469250,-0.077031,0.518000,0.034739,-0.350432,-0.124841,-0.182000,0.107500
140,House,116,2019,0.873306,0.101580,0.161017,0.033981,0.0,0.037210,0.028898,...,0.502772,0.059888,0.461301,0.073398,0.553161,0.043473,-0.367995,-0.038569,-0.380479,0.180188
141,Senate,116,2019,0.840789,0.156863,0.282609,0.037037,0.0,0.102735,-0.044157,...,0.498463,0.025778,0.474250,0.034875,0.533682,0.012545,-0.353767,-0.124930,-0.178333,0.031000
142,House,117,2021,0.885473,0.079545,0.128889,0.027907,0.0,0.052652,0.022725,...,0.505451,0.078121,0.464496,0.101066,0.558170,0.048585,-0.379994,-0.082780,-0.380125,0.163646
143,Senate,117,2021,0.873317,0.156863,0.265306,0.039216,0.0,0.088147,-0.047696,...,0.524745,0.016176,0.501633,0.027167,0.557762,0.000476,-0.350644,-0.131978,-0.325250,0.216500

In [4]:
#Reads and loads in gdp dataset
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/3f38ff8e61c73e8d9f8e19206a5c1f63168910ed/datasets/WLD_2002_GID_v01_M_CSV%20(1)/Global_for_release.csv'
gdp_data = pd.read_csv(url)
gdp_data

,year,country,contcod,mean,region,gdpppp,pop,expgdp,xpo,mpo,...,share1,share2,share3,share4,share5,share6,share7,share8,share9,share10
0,1975,6,AGO,1.79769313486232e+308,1,3643,6.123,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
1,1976,6,AGO,1.79769313486232e+308,1,3230,6.2762,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
2,1977,6,AGO,1.79769313486232e+308,1,3220,6.44934,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
3,1978,6,AGO,1.79769313486232e+308,1,3305,6.63663,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
4,1979,6,AGO,1.79769313486232e+308,1,3300,6.8285,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,1998,212,ZWE,718,1,2204,11.68901,1.79769313486232e+308,2535,2738,...,0.200557097792625,0.30083566904068,0.384401112794876,0.472144842147827,0.571030616760254,0.689415037631988,0.839832842350006,1.08077991008759,1.51671314239502,3.94986081123352
4590,1999,212,ZWE,1.79769313486232e+308,1,2167,12.627,1.79769313486232e+308,2341,2315,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
4591,2000,212,ZWE,1.79769313486232e+308,1,2023,12.821,1.79769313486232e+308,2101,1991,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
4592,2001,212,ZWE,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308
4593,2002,212,ZWE,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,...,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308,1.79769313486232e+308

# **Obtaining Testing Data**

In [5]:
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/3f38ff8e61c73e8d9f8e19206a5c1f63168910ed/datasets/Political_Polarization/polarization_test.csv'
pol_test = pd.read_csv(url)
pol_test

  chamber  congress  year  party.mean.diff.d1  prop.moderate.d1   overlap
0   House       105  1997            0.777287          0.155405  0.018059
1  Senate       105  1997            0.683943          0.180000  0.000000
2   House       106  1999            0.777078          0.156818  0.015982
3  Senate       106  1999            0.658384          0.215686  0.068627
4   House       107  2001            0.786643          0.146396  0.009050
5  Senate       107  2001            0.663180          0.217822  0.060000

In [6]:
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/3f38ff8e61c73e8d9f8e19206a5c1f63168910ed/datasets/Industries/all_ind_tot_data_test.csv'
all_ind_tot_test = pd.read_csv(url)
all_ind_tot_test["year"] = all_ind_tot_test["year"].astype(str)
all_ind_tot_test

     year        gdp             name
0    1997  8577552.0  United States *
1    1997   104716.9          Alabama
2    1997    25800.0           Alaska
3    1997   132290.9          Arizona
4    1997    59826.9         Arkansas
..    ...        ...              ...
307  2002   293399.4         Virginia
308  2002   248152.7       Washington
309  2002    45433.6    West Virginia
310  2002   194844.9        Wisconsin
311  2002    19149.7          Wyoming

[312 rows x 3 columns]

In [7]:
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/7482dfe8a57266e6488492e5e473cafa1d7a7471/datasets/Industries/private_industries_test.csv'
priv_ind_test = pd.read_csv(url)
priv_ind_test.dropna(inplace=True)
priv_ind_test

              name                               description    year      gdp
2578       Wyoming  Private services-providing industries 3/  1997.0   7356.3
2579       Wyoming     Private goods-producing industries 2/  1997.0   4990.3
3314       Vermont  Private services-providing industries 3/  1997.0   9982.7
3315       Vermont     Private goods-producing industries 2/  1997.0   3450.8
3958  North Dakota  Private services-providing industries 3/  1997.0   9884.4
3959  North Dakota     Private goods-producing industries 2/  1997.0   3340.0
4326  South Dakota  Private services-providing industries 3/  1997.0  11279.0
4327  South Dakota     Private goods-producing industries 2/  1997.0   5014.6
4786       Montana  Private services-providing industries 3/  1997.0  12115.7
4787       Montana     Private goods-producing industries 2/  1997.0   3935.0
5528       Wyoming  Private services-providing industries 3/  1998.0   7779.9
5529       Wyoming     Private goods-producing industries 2/  1998.0   4643.6
5530       Vermont  Private services-providing industries 3/  1998.0  10475.5
5531       Vermont     Private goods-producing industries 2/  1998.0   3496.7
5532  North Dakota  Private services-providing industries 3/  1998.0  10427.4
5533  North Dakota     Private goods-producing industries 2/  1998.0   3803.2
5534  South Dakota  Private services-providing industries 3/  1998.0  12092.6
5535  South Dakota     Private goods-producing industries 2/  1998.0   5251.1
5536       Montana  Private services-providing industries 3/  1998.0  12902.2
5537       Montana     Private goods-producing industries 2/  1998.0   4141.5
5538       Wyoming  Private services-providing industries 3/  1999.0   8293.0
5539       Wyoming     Private goods-producing industries 2/  1999.0   4822.0
5540       Vermont  Private services-providing industries 3/  1999.0  11154.3
5541       Vermont     Private goods-producing industries 2/  1999.0   3770.8
5542  North Dakota  Private services-providing industries 3/  1999.0  10946.3
5543  North Dakota     Private goods-producing industries 2/  1999.0   3428.8
5544  South Dakota  Private services-providing industries 3/  1999.0  12995.6
5545  South Dakota     Private goods-producing industries 2/  1999.0   5031.2
5546       Montana  Private services-providing industries 3/  1999.0  13307.4
5547       Montana     Private goods-producing industries 2/  1999.0   3955.7
5548       Wyoming  Private services-providing industries 3/  2000.0   8778.6
5549       Wyoming     Private goods-producing industries 2/  2000.0   5669.0
5550       Vermont  Private services-providing industries 3/  2000.0  11813.3
5551       Vermont     Private goods-producing industries 2/  2000.0   4111.0
5552  North Dakota  Private services-providing industries 3/  2000.0  11586.2
5553  North Dakota     Private goods-producing industries 2/  2000.0   3585.2
5554  South Dakota  Private services-providing industries 3/  2000.0  13667.2
5555  South Dakota     Private goods-producing industries 2/  2000.0   5795.5
5556       Montana  Private services-providing industries 3/  2000.0  14032.9
5557       Montana     Private goods-producing industries 2/  2000.0   4031.5
5558       Wyoming  Private services-providing industries 3/  2001.0   9015.4
5559       Wyoming     Private goods-producing industries 2/  2001.0   6714.2
5560       Vermont  Private services-providing industries 3/  2001.0  12364.0
5561       Vermont     Private goods-producing industries 2/  2001.0   4321.1
5562  North Dakota  Private services-providing industries 3/  2001.0  12057.3
5563  North Dakota     Private goods-producing industries 2/  2001.0   3870.9
5564  South Dakota  Private services-providing industries 3/  2001.0  14940.3
5565  South Dakota     Private goods-producing industries 2/  2001.0   5282.6
5566       Montana  Private services-providing industries 3/  2001.0  14638.8
5567       Montana     Private goods-producing industries 2/  2001.0   4216.2
5568       Wyoming  Private services-providing industries 3/  2002.0   9754.2
5569       Wyoming     Private goods-producing industries 2/  2002.0   6204.0
5570       Vermont  Private services-providing industries 3/  2002.0  13203.9
5571       Vermont     Private goods-producing industries 2/  2002.0   4208.0
5572  North Dakota  Private services-providing industries 3/  2002.0  12784.7
5573  North Dakota     Private goods-producing industries 2/  2002.0   4147.1
5574  South Dakota  Private services-providing industries 3/  2002.0  16889.3
5575  South Dakota     Private goods-producing industries 2/  2002.0   5915.4
5576       Montana  Private services-providing industries 3/  2002.0  15572.6
5577       Montana     Private goods-producing industries 2/  2002.0   4129.2

In [8]:
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/7482dfe8a57266e6488492e5e473cafa1d7a7471/datasets/Industries/q3_lowest_state_gdp_test.csv'
q3_lowest_state_gdp_test = pd.read_csv(url)
q3_lowest_state_gdp_test

           state  year          description      gdp
0        Wyoming  1997   Private industries  12346.6
1        Vermont  1997   Private industries  13433.6
2   North Dakota  1997   Private industries  13224.4
3   South Dakota  1997   Private industries  16293.6
4        Montana  1997   Private industries  16050.7
5        Wyoming  1998   Private industries  12423.4
6        Vermont  1998   Private industries  13972.2
7   North Dakota  1998   Private industries  14230.6
8   South Dakota  1998   Private industries  17343.7
9        Montana  1998   Private industries  17043.7
10       Wyoming  1999   Private industries  13115.0
11       Vermont  1999   Private industries  14925.0
12  North Dakota  1999   Private industries  14375.2
13  South Dakota  1999   Private industries  18026.8
14       Montana  1999   Private industries  17263.1
15       Wyoming  2000   Private industries  14447.6
16       Vermont  2000   Private industries  15924.3
17  North Dakota  2000   Private industries  15171.4
18  South Dakota  2000   Private industries  19462.7
19       Montana  2000   Private industries  18064.4
20       Wyoming  2001   Private industries  15729.6
21       Vermont  2001   Private industries  16685.1
22  North Dakota  2001   Private industries  15928.2
23  South Dakota  2001   Private industries  20222.9
24       Montana  2001   Private industries  18855.0
25       Wyoming  2002   Private industries  15958.2
26       Vermont  2002   Private industries  17411.9
27  North Dakota  2002   Private industries  16931.8
28  South Dakota  2002   Private industries  22804.6
29       Montana  2002   Private industries  19701.8

In [9]:
#lowest_country_gdp_test_two = pd.read_csv("/Users/anushkaverma/Desktop/UW/Sophomore year/CSE 160/lowest_country_gdp_test_two.csv")
url = 'https://raw.githubusercontent.com/KatelynSaechao/CSE163-Project/7482dfe8a57266e6488492e5e473cafa1d7a7471/datasets/lowest_country_gdp_test_two.csv'
lowest_country_gdp_test_two = pd.read_csv(url)
lowest_country_gdp_test_two

    year    gdp name
0   1997  245.0  WSM
1   1997  269.0  GNB
2   1997  410.0  GMB
3   1997  498.0  GNQ
4   1997  503.0  DJI
5   1998  206.0  GNB
6   1998  224.0  WSM
7   1998  417.0  GMB
8   1998  456.0  GNQ
9   1998  514.0  DJI
10  1999  224.0  GNB
11  1999  233.0  WSM
12  1999  432.0  GMB
13  1999  536.0  DJI
14  1999  588.0  CPV
15  2000  215.0  GNB
16  2000  237.0  WSM
17  2000  422.0  GMB
18  2000  553.0  DJI
19  2000  558.0  CPV
20  2001    0.0  ALB
21  2001    0.0  PHL
22  2001    0.0  PER
23  2001    0.0  PAN
24  2001    0.0  PAK
25  2002    0.0  ALB
26  2002    0.0  PHL
27  2002    0.0  PER
28  2002    0.0  PAN
29  2002    0.0  PAK

# **Cleaning Data**

## Cleaning Industries Dataset

This cell removes all unneccessary columns in the Industries dataset

In [10]:
# Columns to keep
col_keep = ["GeoName", "Description", "Unit", "1997", "1998", "1999", "2000", "2001", "2002"]

industries_data = industries_data[col_keep]
industries_data

,GeoName,Description,Unit,1997,1998,1999,2000,2001,2002
0,United States *,All industry total,Millions of current dollars,8577552.0,9062817.0,9630663.0,10252347.0,10581822.0,10936418.0
1,United States *,Private industries,Millions of current dollars,7431992.0,7871500.0,8378315.0,8929320.0,9188887.0,9462020.0
2,United States *,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637.0,99756.0,92590.0,98312.0,99836.0,95629.0
3,United States *,Farms,Millions of current dollars,88136.0,79030.0,70934.0,76043.0,78093.0,74033.0
4,United States *,"Forestry, fishing, and related activities",Millions of current dollars,20501.0,20726.0,21656.0,22269.0,21743.0,21596.0
...,...,...,...,...,...,...,...,...,...
5523,Far West,Private services-providing industries 3/,Millions of current dollars,985596.4,1064211.3,1160608.6,1244783.3,1289426.5,1358322.0
5524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This cell removes rows that are regions of the United States, rather than state names or the entire US. This cell also removes rows with NaN values

In [11]:
# Rows to remove from dataframe
remove_geoname = ["New England", "Mideast", "Great Lakes",
                  "Plains", "Southeast", "Southwest", "Rocky Mountain",
                  "Far West"]

for name in remove_geoname:
  industries_data= industries_data.drop(industries_data[industries_data["GeoName"] == name].index)

industries_data = industries_data.dropna()
industries_data

,GeoName,Description,Unit,1997,1998,1999,2000,2001,2002
0,United States *,All industry total,Millions of current dollars,8577552.0,9062817.0,9630663.0,10252347.0,10581822.0,10936418.0
1,United States *,Private industries,Millions of current dollars,7431992.0,7871500.0,8378315.0,8929320.0,9188887.0,9462020.0
2,United States *,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108637.0,99756.0,92590.0,98312.0,99836.0,95629.0
3,United States *,Farms,Millions of current dollars,88136.0,79030.0,70934.0,76043.0,78093.0,74033.0
4,United States *,"Forestry, fishing, and related activities",Millions of current dollars,20501.0,20726.0,21656.0,22269.0,21743.0,21596.0
...,...,...,...,...,...,...,...,...,...
4783,Wyoming,Trade,Millions of current dollars,1692.5,1809.5,1905.7,2060.3,2073.8,2184.6
4784,Wyoming,Transportation and utilities,Millions of current dollars,1337.8,1431.0,1476.7,1520.5,1517.8,1548.6
4785,Wyoming,Manufacturing and information,Millions of current dollars,1119.9,1197.7,1193.7,1256.0,1611.8,1287.0
4786,Wyoming,Private goods-producing industries 2/,Millions of current dollars,4990.3,4643.6,4822.0,5669.0,6714.2,6204.0
4787,Wyoming,Private services-providing industries 3/,Millions of current dollars,7356.3,7779.9,8293.0,8778.6,9015.4,9754.2

In [12]:
# Making a year column and gdp column so that it is easier to merge datasets when asnwering questions
years_col = ["1997", "1998", "1999", "2000", "2001", "2002"]
year_gdp_list = []

for year in years_col:
  for gdp_value in industries_data[year]:
    year_gdp_list.append((year, gdp_value))

year_gdp_df = pd.DataFrame(year_gdp_list, columns=["year", "gdp"])

name_list = []
desc_list = []

for num_of_years in range(len(years_col)):
  for name in industries_data["GeoName"]:
    name_list.append(name)
  for desc in industries_data["Description"]:
    desc_list.append(desc)

name_df = pd.DataFrame(name_list, columns=["name"])

desc_df = pd.DataFrame(desc_list, columns=["description"])

industries_data = name_df.join(desc_df)

industries_data = industries_data.join(year_gdp_df)

industries_data

,name,description,year,gdp
0,United States *,All industry total,1997,8577552.0
1,United States *,Private industries,1997,7431992.0
2,United States *,"Agriculture, forestry, fishing and hunting",1997,108637.0
3,United States *,Farms,1997,88136.0
4,United States *,"Forestry, fishing, and related activities",1997,20501.0
...,...,...,...,...
28723,Wyoming,Trade,2002,2184.6
28724,Wyoming,Transportation and utilities,2002,1548.6
28725,Wyoming,Manufacturing and information,2002,1287.0
28726,Wyoming,Private goods-producing industries 2/,2002,6204.0
28727,Wyoming,Private services-providing industries 3/,2002,9754.2

## Cleaning GDP Dataset

This cell removes all unnecessary columns from the GDP dataset

> Indented block

In [ ]:
# All of the columns to keep
keep_col = ["year", "country", "region", "contcod", "gdpppp", "gdp"]

# Dropping unneeded columns
cleaned_gdp = gdp_data[keep_col]

cleaned_gdp

This cell removes all rows with a 'year' value that is not between 1997-2002 and those with NaN values.

In [ ]:
# Filters for 'year' between 1997-2002
cleaned_gdp = cleaned_gdp[(cleaned_gdp["year"] >= 1997) & (cleaned_gdp["year"] <= 2002)]

# Drops NaN values
cleaned_gdp = cleaned_gdp.dropna()

cleaned_gdp["gdpppp"] = cleaned_gdp["gdpppp"].astype(float)
cleaned_gdp["gdp"] = cleaned_gdp["gdp"].astype(float)

cleaned_gdp

## Cleaning Polarization Dataset

This cell removes all unnecessary columns from the polarization dataset. It keeps the columns: Chamber, Congress, Year,
Mean difference between the Dem & Rep parties, Proportion of moderates overall, and Overlap

In [ ]:
# All the columns to keep
keep_column = ["chamber", "congress", "year", "party.mean.diff.d1", "prop.moderate.d1", "overlap"]

# Calls the columns we kept from dataset
clean_polarization = polarization_data[keep_column]
clean_polarization

This cell removes keeps only the years from 1997-2002 in the polarization dataset. It also drops all NaN values.

In [ ]:
# Filters for 'year' between 1997-2002
clean_polarization = clean_polarization[(clean_polarization["year"] >= 1997) & (clean_polarization["year"] <= 2002)]

clean_polarization

# **Question 1**

Is GDP increasing or decreasing on a national and state level? What does the trend look like when compared to polarization levels?

What is the trend?

This one will join all 3 datasets by year

In [ ]:
q1_data = pd.concat([cleaned_gdp, industries_data, clean_polarization])
q1_data

In [ ]:
# Groups data by country
grouped_country_df = q1_data.groupby('country')

increasing_country = 0
decreasing_country = 0

# Iterates over each country and finds trend
for country, group_df in grouped_country_df:
    if group_df['gdpppp'].iloc[-1] > group_df['gdpppp'].iloc[0]:
        increasing_country += 1
    else:
        decreasing_country += 1

print("total increasing is", increasing_country)
print("total decreasing is", decreasing_country)

In [ ]:
q1_state = q1_data[q1_data["description"] == "All industry total"]
q1_state["gdp"] = q1_state["gdp"].astype(float)
q1_state = q1_state.dropna(subset=["name"])
q1_state

In [ ]:
# Groups data by state
grouped_state_df = q1_state.groupby('name')

increasing_state = 0
decreasing_state = 0

# Iterates over each state (including US + District of Columbia) and finds trend
for state, group_df in grouped_state_df:
    if group_df['gdp'].iloc[-1] > group_df['gdp'].iloc[0]:
        increasing_state += 1
    else:
        decreasing_state += 1

print("total increasing is", increasing_state)
print("total decreasing is", decreasing_state)

In [ ]:
country_fig = px.line(q1_state[q1_state['name'] == "United States *"], x="year", y="gdp", color= "name", title = "National GDP From 1997 to 2002")
HTML(country_fig.to_html())

In [ ]:
initial_state = q1_state['name'].unique()[1]

state_fig = px.line(q1_state[q1_state['name'] == initial_state], x="year", y="gdp", title = "GDP For Each State From 1997 to 2002")

dropdown_options = []

for name in q1_state['name'].unique():
    if name != "United States *":
        dropdown_options.append(
            dict(
                args=[{'y': [q1_state[q1_state['name'] == name]['gdp']]}],
                label=name,
                method='restyle'
            )
        )

state_fig.update_layout(
    updatemenus=[
        dict(
            buttons=dropdown_options,
            direction="down",
            pad={"r": 10, "t": 10},
            showactive=True,
            x=0.1,
            xanchor="left",
            y=1.1,
            yanchor="top",
        ),
    ]
)

HTML(state_fig.to_html())

In [ ]:
q3_polarization_df = clean_polarization.copy()
q3_polarization_df.reset_index(drop=True, inplace=True)
q3_polarization_df['new_index'] = (q3_polarization_df.index % 2) + 1
q3_polarization_df

In [ ]:
polarization_fig = px.bar(q3_polarization_df, x="year", y="party.mean.diff.d1", color="chamber",
             barmode="group", text_auto=True, labels={'party.mean.diff.d1':'Party Mean Difference'})

polarization_fig.update_layout(title='US Polarization During the Years 1997, 1999, and 2001',
                  xaxis_title='Year', yaxis_title='Party Mean Difference D1')

HTML(polarization_fig.to_html())

In [ ]:
US_gdp_pol_fig = make_subplots(rows=1, cols=2)

for trace in state_fig.data:
    US_gdp_pol_fig.add_trace(trace, row=1, col=1)

for trace in polarization_fig.data:
    US_gdp_pol_fig.add_trace(trace, row=1, col=2)


US_gdp_pol_fig.update_layout(title = "US GDP Between 1997 and 2002 (left) and US Political Polarization in 1997, 1999, 2001 (right)", showlegend=True)


HTML(US_gdp_pol_fig.to_html())

# **Question 2**

For each year, which countries and states have the lowest GDP?

This one will join two datasets by year



*   which gdp column are we using
  *   what unit is this column in? check website later and only use "gdp"
*   it doesnt make sense to merge these datasets together at the beginning. maybe we can merge them together after sorting?

In [ ]:
# Puts the two datasets together
q2_data = pd.concat([cleaned_gdp, industries_data])
q2_data

In [ ]:
# Sorts country gdp in ascending order. Only shows the 5 lowest gdps per year
years_col = [1997, 1998, 1999, 2000, 2001, 2002]
lowest_country_gdp_list = []

for year in years_col:
    curr_year = cleaned_gdp[cleaned_gdp["year"] == year]
    sorted_gdp = curr_year.sort_values(by="gdp", ascending=True)
    sorted_gdp = sorted_gdp.iloc[0:5]
    lowest_country_gdp_list.append(sorted_gdp.iloc[0:5])
lowest_country_gdp_df = pd.concat(lowest_country_gdp_list)

lowest_country_gdp_df["name"] = lowest_country_gdp_df["contcod"]

lowest_country_gdp_df = lowest_country_gdp_df.drop(columns= ["country", "gdpppp", "contcod", "region"])

lowest_country_gdp_df

In [ ]:
for index, row in lowest_country_gdp_df.iterrows():
    for column in lowest_country_gdp_df.columns:
        if row[column] == float('inf') or row[column] == float('-inf'):
            lowest_country_gdp_df.at[index, column] = 0

lowest_country_gdp_df.reset_index(drop=True, inplace=True)

assert lowest_country_gdp_df.equals(lowest_country_gdp_test_two), "DataFrames are not equal"
print("DataFrames are equal")

In [ ]:
# Sorts country gdpppp in ascending order. Only shows the 5 lowest gdps per year
years_col = [1997, 1998, 1999, 2000, 2001, 2002]
lowest_country_gdpppp_list = []

for year in years_col:
    curr_year = cleaned_gdp[cleaned_gdp["year"] == year]
    sorted_gdpppp = curr_year.sort_values(by="gdpppp", ascending=True)
    sorted_gdpppp = sorted_gdpppp.iloc[0:5]
    lowest_country_gdpppp_list.append(sorted_gdpppp.iloc[0:5])
lowest_country_gdpppp_df = pd.concat(lowest_country_gdpppp_list)

lowest_country_gdpppp_df = lowest_country_gdpppp_df.drop(columns= "gdp")

lowest_country_gdpppp_df

In [ ]:
# Shows all industry total data
all_ind_tot_data = q2_data[q2_data["description"] == "All industry total"]

all_ind_tot_data = all_ind_tot_data.drop(columns= ["country", "region", "contcod", "gdpppp", "description"])

all_ind_tot_data["gdp"] = all_ind_tot_data["gdp"].astype(float)

all_ind_tot_data.reset_index(drop=True, inplace=True)

all_ind_tot_data

assert all_ind_tot_data.equals(all_ind_tot_test), "DataFrames are not equal"
print("DataFrames are equal")

In [ ]:
# Sorts state industry data in ascending order. Only shows the 5 lowest gdps per year
years_col = ["1997", "1998", "1999", "2000", "2001", "2002"]
lowest_state_gdp_list = []

for year in years_col:
    curr_year = all_ind_tot_data[all_ind_tot_data["year"] == year]
    sorted_gdp = curr_year.sort_values(by="gdp", ascending=True)
    sorted_gdp = sorted_gdp.iloc[0:5]
    lowest_state_gdp_list.append(sorted_gdp.iloc[0:5])
lowest_state_gdp_df = pd.concat(lowest_state_gdp_list)

lowest_state_gdp_df.reset_index(drop=True, inplace=True)

lowest_state_gdp_df.index = lowest_state_gdp_df.index + 1

lowest_state_gdp_df

In [ ]:
lowest_gdps = pd.concat([lowest_country_gdp_df, lowest_state_gdp_df])
lowest_gdps

## Question 2: Plotting the data

In [ ]:
lowest_state_gdp_df.reset_index(drop=True, inplace=True)
lowest_state_gdp_df['lowest gdp ranking (lowest to 5th lowest)'] = (lowest_state_gdp_df.index % 5) + 1
lowest_state_gdp_df

In [ ]:
# Plots the states' GDPs from 1997-2002
df = px.data.gapminder()
lowest_gdp_state_fig = px.scatter(lowest_state_gdp_df,x="lowest gdp ranking (lowest to 5th lowest)", y="gdp", title = "States with Lowest GDPs from 1997-2002", animation_frame="year", animation_group="gdp",
            color="name", range_x=[0.9, 5.9], range_y=[0, 30000],
           log_x=True)

lowest_gdp_state_fig["layout"].pop("updatemenus") # optional, drop animation buttons

HTML(lowest_gdp_state_fig.to_html())

In [ ]:
lowest_country_gdp_df.reset_index(drop=True, inplace=True)
lowest_country_gdp_df['lowest gdp ranking (lowest to 5th lowest)'] = (lowest_country_gdp_df.index % 5) + 1
lowest_country_gdp_df

In [ ]:
# Plots countries' GDPs from 1997-2002

df = px.data.gapminder()
lowest_countries_gdp_fig = px.scatter(lowest_country_gdp_df,x="lowest gdp ranking (lowest to 5th lowest)", y="gdp", title = "Countries with Lowest GDPs from 1997-2002", animation_frame="year", animation_group="gdp",
            color="name", range_x=[0.9, 5.9], range_y=[-50, 800],
           log_x=True)

lowest_countries_gdp_fig["layout"].pop("updatemenus") # optional, drop animation b
lowest_countries_gdp_fig.update_yaxes(title_text='GDP in Millions')

HTML(lowest_countries_gdp_fig.to_html())

# **Question 3**

Which industry contributes the most to the states that have the lowest GDP for each year? What did political polarization look like during those years?

In [ ]:
# Puts the two datasets together
q3_data = pd.concat([clean_polarization, industries_data])
q3_data

In [ ]:
# Shows states, all industries, and gdps from concatenated dataset
industries_description = q3_data.iloc[:, [2] + list(range(-3, 0))]
industries_description

In [ ]:
#Filters industries dataset so that it includes all descriptions besides all industry total
ind_tot_data = industries_data[industries_data["description"] != "All industry total"]
ind_tot_data = ind_tot_data[ind_tot_data["gdp"] != "(L)"]

ind_tot_data["gdp"]= ind_tot_data["gdp"].astype(float)

ind_tot_data

In [ ]:
# Sorts state industry data in ascending order. Only shows the 5 lowest gdps per year
years_col = ["1997", "1998", "1999", "2000", "2001", "2002"]
lowest_state_names = ["Wyoming", "Vermont", "North Dakota", "South Dakota", "Montana"]
q3_lowest_state_gdp_list = []


for year in years_col:
  for state in lowest_state_names:
    year_state_filter = ind_tot_data[(ind_tot_data["year"] == year) & (ind_tot_data["name"] == state)]
    max_gdp_idx = year_state_filter["gdp"].idxmax()
    max_gdp_row = year_state_filter.loc[max_gdp_idx]
    q3_lowest_state_gdp_list.append({"state": max_gdp_row["name"], "year": max_gdp_row["year"], "description": max_gdp_row["description"], "gdp": max_gdp_row["gdp"]})


q3_lowest_state_gdp_df = pd.DataFrame(q3_lowest_state_gdp_list)
q3_lowest_state_gdp_df["year"] = q3_lowest_state_gdp_df["year"].astype(int)

assert q3_lowest_state_gdp_df.equals(q3_lowest_state_gdp_test), "Dataframes are not equal"
print("Dataframes are equal")

In [ ]:
q3_lowest_state_gdp_df.reset_index(drop=True, inplace=True)
q3_lowest_state_gdp_df['new_index'] = (q3_lowest_state_gdp_df.index % 5) + 2
q3_lowest_state_gdp_df

In [ ]:
priv_ind_fig = px.bar(q3_lowest_state_gdp_df,x="new_index", y="gdp", animation_frame="year", animation_group="gdp",
            color="state", range_x=[0.9, 7], range_y=[0, 25000], text_auto=True)

priv_ind_fig["layout"].pop("updatemenus") # optional, drop animation b
priv_ind_fig.update_xaxes(visible = False)
priv_ind_fig.update_yaxes(title_text='GDP')
priv_ind_fig.update_layout(
    title={
        'text': "Private Industries' Contributions to Each State Throughout the Years 1997-2002",
        'x':0.5,
        'xanchor': 'center',
        'yanchor': 'top'
    }
)
priv_ind_fig.update_layout(bargap=0.5, bargroupgap=0.5)
priv_ind_fig.update_traces(width=1)

HTML(priv_ind_fig.to_html())

In [ ]:
years_col = ["1997", "1998", "1999", "2000", "2001", "2002"]
lowest_state_names = ["Wyoming", "Vermont", "North Dakota", "South Dakota", "Montana"]
q3_ind_sec_list = []

for year in years_col:
    for state in lowest_state_names:
        year_state_filter = ind_tot_data[(ind_tot_data["year"] == year) & (ind_tot_data["name"] == state)]
        top_5_gdp = year_state_filter.nlargest(5, 'gdp')
        q3_ind_sec_list.extend(top_5_gdp.to_dict(orient='records'))

q3_ind_sec_df = pd.DataFrame(q3_ind_sec_list)
q3_ind_sec_df

In [ ]:
priv_ind_filtered = q3_ind_sec_df[q3_ind_sec_df['description'].str.contains('private', case=False)]
priv_ind_filtered = priv_ind_filtered[~priv_ind_filtered['description'].str.contains('Private industries', case=False)]
priv_ind_filtered["year"] = priv_ind_filtered["year"].astype(float)
priv_ind_filtered

# reset indices
priv_ind_filtered.reset_index(drop=True, inplace=True)
priv_ind_test.reset_index(drop=True, inplace=True)


assert priv_ind_test.equals(priv_ind_filtered), "Dataframes are not equal"
print("Dataframes are equal")

In [ ]:
low_states = ['Wyoming', 'Vermont', 'North Dakota', 'South Dakota', 'Montana']

priv_ind_breakdown_fig = px.bar(priv_ind_filtered, x="name", y="gdp", animation_frame="year", animation_group="gdp",
             color="description", range_x=[-1, 5], range_y=[0,30000], text_auto=True)

priv_ind_breakdown_fig.update_yaxes(title_text='GDP')
priv_ind_breakdown_fig.update_layout(
    title={
        'text': "Sectors that contribute to Private Industries in the States With the Lowest GDP (1997-2002)",
        'x': 0.5,
        'xanchor': 'center',
        'yanchor': 'top'
    }
)
priv_ind_breakdown_fig.update_layout(bargap=0.5, bargroupgap=0.5)
priv_ind_breakdown_fig.update_traces(width=0.8)

HTML(priv_ind_breakdown_fig.to_html())

In [ ]:
q3_polarization_df = clean_polarization.copy()
q3_polarization_df.reset_index(drop=True, inplace=True)

tolerance = 1e-6

assert np.isclose(q3_polarization_df["party.mean.diff.d1"], pol_test["party.mean.diff.d1"], atol=tolerance).all() \
    and np.isclose(q3_polarization_df["prop.moderate.d1"], pol_test["prop.moderate.d1"], atol=tolerance).all() \
    and np.isclose(q3_polarization_df["overlap"], pol_test["overlap"], atol=tolerance).all(), "DataFrames are not equal"
print("DataFrames are equal")

In [ ]:
HTML(polarization_fig.to_html())

In [ ]:
low_states = ['Wyoming', 'Vermont', 'North Dakota', 'South Dakota', 'Montana']
filtered_data = ind_tot_data[ind_tot_data['name'].isin(low_states)]

industries_fig = px.bar(filtered_data, x="name", y="gdp", animation_frame="year", animation_group="gdp",
             color="description", range_x=[-1, 5], range_y=[0, 120000], text_auto=True)

industries_fig.update_xaxes(visible=False)
industries_fig.update_yaxes(title_text='GDP')
industries_fig.update_layout(
    title={
        'text': "All Industries' Contribution to GDP in States With the Lowest GDP Throughout the Years 1997-2002",
        'x': 0.5,
        'xanchor': 'center',
        'yanchor': 'top'
    }
)
industries_fig.update_layout(bargap=0.5, bargroupgap=0.5)
industries_fig.update_traces(width=0.8)

HTML(industries_fig.to_html())

# **Report**

# The Relationship Between Political Polarization, Various Industries, and State/National GDP

Authors: Katelyn Saechao, Anushka Verma, and Nandita Raman

## Summary-
Our research questions were:
* Is GDP increasing or decreasing on a national and state level? What does the trend look like when compared to polarization levels?
	* On a state level, GDP is increasing from the years 1997-2002. 


* For each year, which countries and states have the lowest GDP? 
	* From 1997-2002, the 5 states with the lowest GDPs were Wyoming, Vermont, North Dakota, South Dakota, and Montana. The 5 countries with the lowest GDPs are Samoa, Guinea-Bissau, The Gambia, Equatorial Guinea, and Djibouti, as indicated by the ISO3 country codes, WSM, GNB, GMB, GNQ, and DJI.

* Which industry contributes the most to the states that have the lowest GDP for each year? What did political polarization look like during those years?
	* Private industries contribute the most to the gdp of the five states we identified in Question 2. During these years, political polarization looked relatively the same.


## Motivation-
Our motivation for pursuing this topic is to learn more about the relationship between various industries in the United States and political polarization. We want to come to an understanding of which industries might be the most stable and which are the most unstable. Also, we want to learn about how politics can possibly affect other areas of society, specifically the economy.


## Data Setting-
We used three datasets from two different data sources: Kaggle and the World Bank Data Catalog.
From the World Bank Data Catalog, we used this dataset: https://datacatalog.worldbank.org/search/dataset/0047367/Globalization-and-Income-Distribution-Dataset-1975-2002, which describes the GDP per country for all countries in the world, from years 1975-2002. From this dataset, we used the contcod (country codes), GDP, and the year columns. 

Next, from Kaggle, we used this dataset: https://www.kaggle.com/datasets/justin2028/political-polarization-in-us-congress?resource=download which describes the political polarization levels in the US Congress from the years, 1879-2021. We used the chamber, year, and party.mean.diff.d1 columns. The chamber column indicated the proportion of Democrats/Republicans in either the House or the Senate and the party.mean.diff.d1, which indicates political polarization, column took the average number of Democrats and Republicans in the House and Senate and calculated the difference between the averages. When the difference is closer to 1, the House and Senate are more polarized on views and when the difference is closer to 0, the House and Senate have a more equal number of Democrats and Republicans.

Lastly, from Kaggle again, we used this dataset: https://www.kaggle.com/datasets/davidbroberts/us-gdp-by-state-19972020 which describes GDP per state from the years 1997-2020. From this dataset, we used the name, description, year, and gdp columns. The name column indicates different US states as well as the US as a whole, and the description column indicates the different industries that contribute to the United States gdp. 
Our datasets all have varying year ranges, but the years we have in common are 1997-2002. This is advantageous because we can hone in on a particular time frame and dive deeper into the questions. However, we will be unable to find trends over the years within the data. 

## Method-
The methodology for this project is to examine three datasets obtained from the World Bank, Voteview, and the Bureau Of Economic Analysis. The datasets will be joined/merged together by year. The years of study will be between 1997 and 2002 because these are the only years of overlap between all datasets. 

To answer the first research question, all three datasets will be used and merged together. We will then use plotly to create a line graph with a drop-down for each state to identify GDP changes over time. Another line graph will also be created to identify GDP trends nationally. To assess political polarization, we will make a two-column bar graph with House and Senate data for the years 1997, 1999, and 2001, as those are the only years with data provided. Looking at the graphs side-by-side will allow us to observe possible relationships, and then conduct further analysis if necessary. By using and merging the datasets together by year, we are addressing the multiple datasets challenge goal. Additionally, the use of plotly for data visualization addresses the new library challenge goal.

In regards to the second research question, the datasets being used are the World Bank dataset and the Bureau of Economic Analysis dataset. After merging the needed datasets, we will be sorting them in ascending order by GDP and selecting the first five countries and states that appear. We will then use plotly to create a scatter plot illustrating how the GDP of the five states has changed throughout the years. A slider will be included so users can easily navigate throughout the years and watch the data points move. A second scatter plot with a slider will be made, but for the five countries. This addresses the challenge of using multiple datasets. This also addresses the challenge of using a new library– plotly.

In terms of the third research question, the dataset from the Bureau of Economic Analysis will be used. We will be examining the states identified in the second research question and filter through those states’ industries in descending order and select the industry with the highest value. Next, we will plot the data as a bar plot, with each column representing a different state. Again, a slider will be included so users can see how the industries’ contribution to the state’s GDP has changed over time. We will also create a stacked bar plot showing all the industries that contribute to the states. We can then analyze the levels of political polarization during those years. We will be using plotly to do this. As a result, this addresses the challenges of using a plotly, which is a new library.

The first research question will help us see if there is a relationship between GDP and political polarization levels, emphasizing how it is possible that one aspect of society is impacting another. However, we know that claims of causation cannot simply be made based on observed relationships. The second research question is very simple and just lets us know the states and countries with the lowest GDPs. Those findings are used to help us answer the third research question. The third research question examines the industry that makes the most profit for each of the states with the lowest GDPs. This can help in identifying what industries should be built upon, strengthened and developed in order to increase the GDPs in these low GDP states.


## Results-

*Research Question 1*

Across all 50 states, as well as the District of Columbia, we discovered that the trend is that GDP has increased from 1997 to 2002. The national GDP for the United States (US) has also increased over these years. It is important to note that, by saying this, we simply mean that the 2002 GDP for the states and the US is greater than that of 1997– not that there has been an upward trend all along. Looking at the second line graph and using the drop-down to click on Alaska, we can see that GDP actually fell in 1998 and 1999. The same can be said for New Mexico and New York. However, looking at the first line graph, we can see that the GDP of the US continued to increase in 1998 and 1999. Therefore, we suspect that the cause for the decline in some of the states is attributed to state-specific economic downturns, rather than US political polarization or more wide-reaching recessions like the Asian financial crisis.

The overall upward trajectory of GDP across all states and the entire country can be a result of various economic factors and policy decisions. One significant factor could be the technological advancements and increased globalization during this period, which led to greater production rates and more trade opportunities (International Monetary Fund).  It is also possible that government deregulation in businesses and increased investments in infrastructure persuaded people to try out the entrepreneurial world (International Monetary Fund).

Examining polarization using our fourth visualization, which shows the line graph and the bar graph side-by-side, we are unable to make out a relationship between political polarization and national GDP. While national GDP continues to increase, political polarization levels tend to remain about the same– with slight variation. This is unexpected to us, but it could be due to several different reasons. For example, political polarization itself is incredibly multifaceted, and encompasses a lot more than just the House and Senate. This complexity makes it challenging to narrow polarization down to a specific metric that can be accurately evaluated against GDP. Also, economic growth is impacted by a large number of factors beyond politics. This includes the aforementioned technological advancements, globalization, and deregulation, but also global economies and demographic trends. It is possible that these factors overshadow the influence of political polarization on GDP growth when studied individually.
	
*Research Question 2*

We discovered that the five states with the lowest GDPs during the years 1997-2002 were Wyoming, Vermont, North Dakota, South Dakota, and Montana. Interestingly, out of these five states, Montana had the highest GPA, until 1999, which is when South Dakota started seeing an uptick in its GDP. After 1999, South Dakota stayed at the top until 2002. The state that had the lowest GDP all 6 years was Wyoming.

Next, we discovered that the five countries with the lowest GDPs during the years 1997-2002 were Samoa, Guinea-Bissau, The Gambia, Equatorial Guinea, and Djibouti, as indicated by the ISO3 country codes, WSM, GNB, GMB, GNQ, and DJI. The country's DataFrame was a little different. Samoa, indicated by WSM, started out as the country that had the lowest overall GDP in 1997, but by 2001, all the countries had values so low that they showed up as “inf” in the DataFrame being read by Python, so we decided to round them down to 0.

The datasets that we had initially read and concatenated within our code contained a lot of information that we did not necessarily need to create our visualizations. We ended up creating smaller DataFrames that showcased the year, states/countries, and GDP. Then, we proceeded to sort our data by GDP so that we could see the 5 lowest states and countries in terms of GDP by year. Next, we proceeded to rank both our countries and states in terms of GDP (lowest to 5th lowest), in order for the visualization to show the rankings clearly. 

Although the visualization of the five states and countries with the lowest GDPs may only serve as informational tools, they have the potential to shed light on economic disparities, inform policy decisions, and highlight areas in need of development assistance when paired with further research efforts. By visually representing the economic output of these regions, policymakers, economists, and humanitarian organizations can better understand the challenges faced by these communities and work towards implementing targeted strategies for improvement. Moreover, such visualizations can foster public awareness and advocacy for addressing global poverty and promoting sustainable economic growth.

*Research Question 3*

Across all five of the states with the lowest GDP, it was discovered that private industries were the largest contributors to overall GDP between 1997 and 2002. The GDPs for private industries also increased over the years for these states. It is interesting to note that of the states with the lowest GDP, South Dakota has the highest private industries GDP compared to the other states. Additionally, it is interesting to note that Montana consistently had the second highest private industries GDP, while Wyoming consistently had the lowest private industries GDP. 

When examining the details of the dataset, private industries are not defined. To find more information about the top industries for each state, we expanded the scope of examination to the top 5 industries for each state. However, upon further examination, we learned that private industries were actually composed of two private sectors. This was found because the sum of these two sectors were equivalent to the GDP for private industries.

Since it was discovered that private industries had two sectors, we decided to narrow the scope back to just the top contributing industry for each state. But we decided to look more deeply into these two sectors. The two sectors that compose private industries include “Private services-providing industries 3/” and “Private goods-producing industries”. Based on Figure (insert fig number/name here), it can be determined that the private services-providing industries produce more profit and product compared to private goods-producing industries. This remains the same across all five states between 1997 and 2002. According to the U.S. Bureau of Economic Analysis, which is where the state industries data originates from, service-producing industries are comprised of “utilities; wholesale trade; retail trade; transportation and warehousing; information; finance, insurance, real estate, rental, and leasing; professional and business services; educational services, health care, and social assistance; arts, entertainment, recreational, accommodation, and food services; and other services (except public administration)” (U.S. Bureau of Economic Analysis). Conversely, goods-producing industries are comprised of “agriculture, forestry, fishing, and hunting; mining; construction; and manufacturing” (U.S. Bureau of Economic Analysis). Although the dataset does not provide an explanation for why private services-providing industries produce more profit than private goods-producing industries, this may possibly be attributed to the fact that services-producing industries encapsulate a wider and more lucrative range of industries. This assumption is on the basis that services-producing industries listed 10 different industries, while goods-producing services only listed 4 different industries.

In regard to polarization, it can be seen that there is minimal change during the years 1997, 1999, and 2001. Across those three years, the party mean difference for the House is larger than the party mean difference for the Senate. In the US government, the House has a higher influence over financial/fiscal policy since they have power over bills regarding revenue. As a result, one may assume that a consistent party mean difference for the House may also mean a consistent GDP. But, as mentioned above, the GDPs for private industries have increased over the years, rather than staying relatively the same. Therefore, with the current data obtained in the project, no conclusion can be drawn until further research is conducted.

## Impact and Limitations-

*Impacts*

It is crucial to note that this study does not test for a causal relationship between GDP and political polarization, it simply attempts to observe some kind of relationship by looking at the visual data. This could be used as the basis of a later study that tests for a correlation or a causal relationship. However,  our results cannot be used to claim that there certainly is or is not a relationship between the two variables.

Based on the results of research question 3, a possible implication could be that strengthening and investing in private industries, specifically private services-producing industries, may increase the overall GDP for the states with the lowest GDP. In addition to increasing the GDP for these low GDP states, investing in private services-producing industries can provide more job opportunities to people residing in those areas. However, this may cause other industries to be divested from in order to allocate more towards private services-producing industries. This divestment from other industries could result in many people losing their jobs and livelihood. 

*Limitations*

A limitation commonly encountered was that many datasets were either missing information or were notated in a way that could not be quantified or identified. For instance, the political polarization dataset was missing the years 1998, 2000, and 2002. This makes it difficult to identify trends since there were only three years of party mean difference data.

To continue, as mentioned in the method, several GDP values were depicted as ‘inf’ because their true values were incredibly small decimals. As a result, we had to modify all ‘inf’ values to be 0.0. This means that the actual small values are not illustrated in our visualizations, and instead show up as 0.0. Additionally, some GDP values assigned to the industries were ‘L’, rather than numeric. Even after looking at the data sources and metadata, we could not identify the meaning of ‘L’, and instead ended up filtering them out. All other values used are true to the original datasets, without any unnecessary filtering, modifications, or removals.

## Challenge Goals-
For our challenge goals, we selected two challenges: utilizing multiple datasets (3) and using a new library, plotly, to visualize our analysis effectively. We were able to successfully incorporate both challenge goals into our project without needing to scale back or expand.

## Plan Evaluation-
Our plan was mostly inaccurate, but there are some estimates that are close to reality.
The first step, loading and cleaning the three datasets, did take us longer than initially expected. We originally started working on Google Colab, but were having a hard time getting everyone to access the datasets and collaborate on the code. After receiving help at office hours, we were able to switch to VS Code and use the Live Share Extension, and finally were able to load and clean the data. 

The second step, working on the first part of the first research question, took as much time as we estimated. It was relatively easy to merge the datasets and create the scatter plots, though we did struggle a little bit with learning how to create a dropdown for each state using plotly. However, figuring it out did not take much time. We even went one step further and actually found a way to calculate how many states and countries have an increasing or decreasing GDP, and managed to stay within our allotted time frame.

The third step, working on the second part of the first research question, took us longer than expected. We hoped to create one visualization with a trend line representing political polarization, as well as lines representing the GDP of each state. Unfortunately, we spent a lot of time working on this, but were not able to figure it out. We were getting a lot of errors when we tried showing both polarization and GDP on the same graph, and sometimes, the line depicting polarization would not even show up. Instead, we resorted to making separate graphs for each and placing them side-by-side. This trial and error took a lot of time.

The fourth step, finding the countries and states with the lowest GDPs, also took more time than we hoped. We wanted to merge the datasets by the ‘year’ column, but realized that our third dataset has the actual year (1997, 1998, etc) as columns instead. We then had to figure out how to restructure the dataset, which took a lot of time. After that, we also realized that some GDP values for countries were not numerical– they were ‘inf’. Examining the raw data, we concluded that ‘inf’ was a substitute for very small decimal values, and had to modify each ‘inf’ value to 0. Only then were we able to find the states and countries with the lowest GDPs.

The fifth step, finding which industries contribute most to the states with the lowest GDPs, also took much time. Some of the GDPs assigned to the industry values were not numerical, they were ‘L’. We looked at the data documentation and could not figure out what ‘L’ meant, so ended up filtering it out. Making the bar graph was also tricky because we were having trouble with the indexing, which made some of the bars not show up. Ultimately, it took a lot of debugging and patience to figure this question out.

The last step, testing the code, took as much time as we hoped. We took our original datasets and manually edited them according to what the question was asking, and then compared it to the new datasets produced by our code through assert statements. For example, if the question asked for the five countries with the lowest GDPs, we would manually sort the data in ascending order through excel and test it against the one produced by code. This took about an hour, which we estimated.
 
## Testing-
We tested the dataframe, “q3_lowest_state_gdp_df”, by manually going through the Excel spreadsheet and filtering out and deleting the same parameters mentioned in the code cell. These parameters are including the years 1997-2002 and the five lowest GDP states. Then, we loaded in this spreadsheet as a dataframe, under the variable name, “q3_lowest_state_gdp_test”, and wrote an assert statement that compares the two dataframes by making sure that they are equivalent to each other. 

Additionally, the dataframe called “q3_polarization_df” was tested by manually deleting data from the years that did not fall between 1997-2002 and by only keeping relevant columns, such as "chamber", "congress", "year", "party.mean.diff.d1", "prop.moderate.d1", "overlap". This manually filtered dataset was read in as “pol_test”. This assertion statement differs from the other assertion statements as it asserts that the values for "party.mean.diff.d1", "prop.moderate.d1", and "overlap" are approximately the same. This was because there were many decimal places and incorrect rounding could make the dataframes seem like they are not equal, when they truly are equivalent to each other.

Next, we tested the data frame “priv_ind_filtered by manually going through the original industries data Excel spreadsheet and filtering out the industries values to only include “Private services-providing industries 3/” and “Private services-providing industries 2/” values. Then, we filtered out the name column to only include the states with the 5 lowest GDPs. Therefore, the table only showed the 5 states with the lowest GDPs, the private industries column, the year column, and the GDP column, which showed the contribution of private industries towards the GDPs of each state. This new file is called “private_industries_test” and is identical to the values of the “priv_ind_filtered” data. Then, we dropped all NaN values and reset the indices of both datasets. Lastly, we wrote an assert statement to compare it to the dataframe produced by our code.

Furthermore, we tested the data frame “lowest_country_gdp_df” by manually going through the Excel spreadsheet and utilizing its ‘sort’ feature to sort the data in ascending order according to GDP. Before this, to get rid of the ‘inf’ values, Excel’s ‘replacement’ feature was used to substitute ‘inf’ with 0.0. This new file was saved under the name “lowest_country_gdp_test_two”, and an assert statement was written to compare it to “lowest_country_gdp_df”– the dataframe produced by our code.

Lastly, we tested the data frame “all_ind_tot_data” by manually going through the Excel spreadsheet and dropping all columns except ‘year’, ‘gdp’, ‘description’, and ‘name’. Also, we filtered out all rows except those where description = ‘All industry total’. After this, the ‘description’ column was also dropped. We also made sure to convert the ‘gdp’ column to float values so that we would not run into any type errors, and then reset the indices for all the data. An assert statement was then written to see if this new data frame, “all_ind_tot_test”, is equal to the original data frame.

We know that our code produces the expected results because we manually verified the outputs using Excel. 

## Collaboration-
In terms of collaboration, we were fortunately able to complete our project without consulting people other than our course staff and team members. However, we used a few online resources such as Stack Overflow and Reddit, specifically, the subreddits r/learnprogramming and r/programming, when we ran into errors that we were unable to figure out ourselves.

If we were unable to find the answers to the errors on those sites, we turned to generative AI in order to do so. Mostly, we would copy the errors we got and paste it into ChatGPT and used the responses to correct our code accordingly. 

For example, we were facing issues with having NaN values in our code and before using .dropna(), we tried manipulating the DataFrame with methods like .reset_index(), which didn’t work. So, when we got this error, we copied and pasted it into ChatGPT. We learned that before any other methods, we must first drop all NaN values, because the variable we were trying to reset had a “None” value. 

Example error I copied and pasted into ChatGPT:
AttributeError: 'NoneType' object has no attribute 'reset_index'


## Citations-

International Monetary Fund. (2002). The picture of globalization. Retrieved from https://www.imf.org/external/pubs/ft/fandd/2002/03/picture.htm. Accessed 11 Mar. 2024.

U.S. Bureau of Economic Analysis. Which Industries Are Included among the Goods-Producing Industries and the Services-Producing Industries? . https://www.bea.gov/help/faq/182. Accessed 11 Mar. 2024.